.todo-list{
  font-size: 30px;
  text-align:center;
  font-weight:300;
  color: rgb(219, 90, 51);
  border: 2px solid rgb(167, 65, 18);
  border: radius 30px;
  margin:25px;
  min-height: 500px;
}

.color-box{
  font-size: 30px;
  text-align:center;
  font-weight:300;
  color: rgb(23, 131, 107);
  border: 2px solid rgb(52, 30, 131);
  border: radius 30px;
  margin:25px;
  min-height: 500px;
}